---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to What2Print.">
	<main>
		<h1>Welcome to <span class="text-gradient">What2Print</span></h1> 
		<p class="instructions">
			We understand that the world of 3D printing can be overwhelming, especially with the endless possibilities all over the interwebs. That's why we've created a dedicated space where you can discover what to print today without the hassle of endless searching. Every week, we curate a selection of exciting and innovative projects tailored for makers of all skill levels. Whether you're looking for a fun weekend project, a practical item for your home, or something to challenge your skills, we've got you covered. Join our community of creators and let us inspire your next print!

		</p>

		<!-- New image container with captions -->
		<div class="image-container">
			<div class="image-item">
				<img src="/images/home/wireMount.png" alt="Wire Mount 3d Print" />
				<p class="caption">Model by <a href="https://www.printables.com/model/1052791-electric-wire-wall-mount-collection-8-variations-p">VC Design</a></p>
			</div>
			<div class="image-item">
				<img src="/images/home/snowflakeVase.png" alt="Snowflake Vase 3d Print" />
				<p class="caption">Model by <a href="https://thangs.com/designer/Decorartor">Decorater</a></p>
			</div>
			<div class="image-item">
				<img src="/images/home/roverKit.png" alt="Rover Kit 3d Print" />
				<p class="caption">Model by <a href="https://makerworld.com/en/@DavyJonesJr">Davy Jones</a></p>
			</div>
		</div>

		<ul role="list" class="link-card-grid">
			<Card
				href="/printTuesday/"
				title="Print Tuesday"
				body="We post a new model we are printing this week on Tuesday."
			/>
			<Card
				href="/printers/"
				title="3D Printers"
				body="3D Printers we are using and new printers we find interesting."
			/>
			<Card
				 href="/filaments/"
				title="Filaments"
				body="Filaments we use and great deals we find. We post often so check back soon!"
			/>
			<Card
				href="/blog/"
				title="Blog"
				body="Things we are excited about in the 3d printing community"
			/>
			<!-- <Card
				href="/tutorials/"
				title="Tutorials"
				body="Tutorials at all levels for the 3d printing Maker and Designer."
			/> -->
		</ul>
	</main>
	<footer>
		<div class="footer-content">
			<p>&copy; 2024 What2Print. All rights reserved.</p>
			<ul class="footer-links">
				<li><a href="/about/">About Us</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</div>
	</footer>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	/* image container and captions */
	.image-container {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	.image-item {
		text-align: center;
		width: 30%; /* Adjust width as needed */
	}

	.image-item img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		border-radius: 8px;
	}

	.caption {
		margin-top: 0.5rem;
		font-size: 0.9rem;
		color: #ccc; /* Adjust color for better readability */
	}

	.footer-content {
		text-align: center;
		padding: 1rem;
		background-color: #333; /* Adjust background color as needed */
		color: #fff; /* Adjust text color as needed */
	}

	.footer-links {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	.footer-links a {
		color: #fff; /* Adjust link color as needed */
		text-decoration: none;
	}

	.footer-links a:hover {
		text-decoration: underline;
	}
</style>
