---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
const { image } = frontmatter;
---

<Layout title={frontmatter.title}>
    <article class="blog-post">
        <h1>{frontmatter.title}</h1>
        <div class="postImage">
        {image && <img src={image} alt="Featured Image" class="featured-image"/>}
        </div>
        <div class="post-content">
            <slot />
        </div>
    </article>
</Layout>

<style>
    .blog-post {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .post-content {
        line-height: 1.6;
    }
    .featured-image {
            display: block;
            margin: 0 auto; /* Centers the image */
            max-width: 100%; /* Ensures the image doesn't exceed the container width */
            height: auto; /* Maintains aspect ratio */
        }
</style> 